@import '../../variables.scss';

.tag {
    display: flex;
    gap: 1rem;

    &__input {
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        padding: 0.5rem 0.75rem;
    }

    &__delete-btn {
        color: $highlight-color;
        border: 1px solid $highlight-color;
        background: none;
        font-size: $xmd-font-size;
        font-family: $main-font-family;
        padding: 0.5rem 2.25rem;
        border-radius: 4px;
    }

    

    &__add-btn {
        color: $info-color;
        font-family: $main-font-family;
        border: 1px solid $info-color;
        border-radius: 4px;
        padding: 0.5rem 2.5rem;
        font-size: $xmd-font-size;
        background: none;
    }
}