@import '../../variables.scss';

.article {
    background-color: white;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
    padding: 1rem 1rem 1.5rem;
    width: 100%;

    &__header {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    &__header-item {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &__title-wrapper {
        display: flex;
        gap: 0.5rem;
    }

    &__title {
        color: $info-color;
        line-height: 28px;
        font-weight: 400;
        font-size: $xl-font-size;
        margin: 0;
        overflow-wrap: break-word;
        max-width: 600px;
    }

    &__like {
        display: flex;
        align-self: flex-start;
        align-items: center;
        border: none;
        background: none;
        gap: 0.2rem;
        margin-top: 0.1rem;

    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__author-name {
        line-height: 28px;
        font-size: $lg-font-size;
        color: $main-font-color;
    }

    &__avatar {
        width: 46px;
        height: 46px;
        border-radius: 50px;
    }

    &__date {
        color: rgba(0, 0, 0, 0.5);
        font-size: $main-font-size;
        line-height: 22px;
    }

    &__tags {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.2rem;
    }

    &__tag {
        color: $main-font-color;
        font-size: $main-font-size;
        border: 1px solid black;
        border-radius: 2px;
        opacity: 0.9;
        padding: 0.125rem 0.325rem;
    }

    &__description {
        font-size: $main-font-size;
        line-height: 22px;
        overflow-wrap: break-word;
    }

    &__body {
        margin-top: 1rem;
    }

    &__like-wrapper {
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
        margin-top: 0.2rem;
    }

}