@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'variables.scss';

body {
    font-family: $main-font-family;
    background-color: #EBEEF3;
    margin: 0;
}

#root {
    padding-bottom: 2rem;
}

button {
    cursor: pointer;
}

.inner-wrapper {
    width: 90%;
    margin: 0 auto;
}

.ant-pagination-item {
    background: none;
    border: none;
}


.ant-pagination-item-active {
    background-color: #1890FF;
    border-radius: 4px;
    a {
        color: white;        
    }
}

.ant-pagination-item-active a:hover {
    color: white;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
    background: none;
    border: none;
}
