$main-font-family: 'Inter', sans-serif;

$main-font-color: black;
$success-color: #52C41A;
$info-color: #1890FF;
$highlight-color: #F5222D;

$main-font-size: 12px;
$md-font-size: 14px;
$xmd-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;